<nav class="navbar navbar-default">
 <div class="container-fluid">
   <ul class="nav navbar-nav">
     <li routerLinkActive="active">
       <a routerLink="books">Livres</a>
     </li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
    <li routerLinkActive="active" *ngIf="!isAuth">
      <a routerLink="auth/signup">Create compte</a>
    </li>
    <li routerLinkActive="active" *ngIf="!isAuth">
      <a routerLink="auth/signin">Connecter</a>
    </li>
    <li  *ngIf="isAuth">
      <a (click)="onSignOut()" *ngIf="isAuth" style="cursor: pointer;">Deconnecter</a>
    </li>
   </ul>
 </div>
</nav>
